SOAPClima/WebContent/wsdl/PronosticoServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://impl.services.soap" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://impl.services.soap" xmlns:intf="http://impl.services.soap" xmlns:tns1="http://beans.soap" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://impl.services.soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://beans.soap"/>
   <element name="traerClima">
    <complexType>
     <sequence>
      <element name="ciudad" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="traerClimaResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="traerClimaReturn" type="tns1:Temperatura"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://beans.soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Temperatura">
    <sequence>
     <element name="ciudad" nillable="true" type="xsd:string"/>
     <element name="estado" nillable="true" type="xsd:string"/>
     <element name="fecha" nillable="true" type="xsd:string"/>
     <element name="tempMaxima" type="xsd:int"/>
     <element name="tempMinima" type="xsd:int"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="traerClimaResponse">

      <wsdl:part element="impl:traerClimaResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="traerClimaRequest">

      <wsdl:part element="impl:traerClima" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="PronosticoServiceImpl">

      <wsdl:operation name="traerClima">

         <wsdl:input message="impl:traerClimaRequest" name="traerClimaRequest"/>

         <wsdl:output message="impl:traerClimaResponse" name="traerClimaResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="PronosticoServiceImplSoapBinding" type="impl:PronosticoServiceImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="traerClima">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="traerClimaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="traerClimaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="PronosticoServiceImplService">

      <wsdl:port binding="impl:PronosticoServiceImplSoapBinding" name="PronosticoServiceImpl">

         <wsdlsoap:address location="http://localhost:8081/SOAPClima/services/PronosticoServiceImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
